
{% import 'components/booking_seat/booking_summary.html' as summary %}
{% import 'components/booking_seat/order_summary.html' as left_panel %}

{% block content %}
<div class="min-h-screen bg-[#F8F9FD] pt-4 pb-8">
    <div class="container mx-auto px-6 flex flex-col lg:flex-row gap-10 items-start">

        <div class="w-[64%]">
            {% set mock_ticket_details = {
                'ticket_list': [
                    {'name': 'Ghế đơn', 'quantity': 1, 'price': 80000},
                    {'name': 'Ghế đôi', 'quantity': 1, 'price': 100000}
                ],
                'vat_percent': 10,
                'vat_amount': 7000,
                'total_price': 187000
            } %}

            {% set mock_user_info = {
                'full_name': 'Nguyễn Ngọc Lan',
                'phone': '0899654782',
                'email': 'lannguyen@gamil.com'
            } %}

            {% set mock_payment_methods = [
                {'id': 'momo', 'name': 'Momo', 'logo_url': '/static/images/logo-momo.png'}
            ] %}

            {% set mock_qr_data = {
                'qr_image_url': '/static/images/sample-qr.png',
                'countdown_time': '05:00',
                'payment_code': 'TT305684JFGH',
                'payment_type': 'Chuyển khoản'
            } %}

            {# Gọi component cột trái #}
            {{ left_panel.order_summary_panel(mock_ticket_details, mock_user_info, mock_payment_methods) }}
        </div>

        <div class="w-[36%] space-y-6">
            {% set mock_movie = {
                'title': 'Quỷ Nhập Tràng',
                'poster': 'https://image.tmdb.org/t/p/w500/aciV9uSArvEE7eqoYIuYI0fs0A2.jpg',
                'theater': 'Beta Quang Trung',
                'room': 'P1',
                'seats_selected': ['G1', 'G2'],
                'time': '11h30\' 14/2/2026'
            } %}

            {{ summary.booking_summary(mock_movie, 200000, True) }}
        </div>

    </div>
</div>


<style>
    .form-radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        background-origin: border-box;
        border: 1px solid #d1d5db;
        border-radius: 100%;
        display: inline-block;
        flex-shrink: 0;
        height: 1.25rem;
        width: 1.25rem;
        user-select: none;
        vertical-align: middle;
    }
    .form-radio:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}