<header id="header"
        class="flex fixed transition-all w-full z-[10] items-center justify-between px-12 py-3 font-sans rounded-t-3xl bg-white">
    <div class="flex-shrink-0">
        <h1 class="text-5xl font-serif tracking-tight text-[#675055]" style="font-family: 'Praise', sans-serif;">
            CineFlow
        </h1>
    </div>

    <div class="flex-grow max-w-xl mx-8">
        <div class="relative group">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                <i class="fa-solid fa-magnifying-glass text-gray-500 group-focus-within:text-black transition-colors duration-200"></i>
            </span>
            <input id="master-search" type="text" placeholder="Search"
                   class="w-full py-1.5 text-sm pl-10 pr-10 bg-gray-100 border-transparent rounded-full focus:bg-white focus:ring-2 focus:ring-black transition-all outline-none">
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <nav id="master-nav" class="flex items-center bg-gray-100 rounded-xl w-max"
             style="font-family: 'Meow Script',sans-serif; ">
            <a href="#"
               class="nav-item px-6 py-1.5 text-2xl text-gray-400 hover:text-black text-black transition-all duration-300">
                Trang chủ
            </a>
            <a href="#"
               class="nav-item px-6 py-1.5 text-2xl text-gray-400 hover:text-black transition-all duration-300">
                Lịch chiếu
            </a>
            <a href="#"
               class="nav-item px-6 py-1.5 text-2xl text-gray-400 hover:text-black transition-all duration-300">
                Rạp
            </a>
        </nav>

        <nav id="master-card" class="relative group">
            <div class="flex nav-item justify-center items-center space-x-2 px-2 py-1.5 bg-gray-100 rounded-xl cursor-pointer hover:bg-gray-200 hover:text-black text-gray-400 transition-colors min-w-[140px]">
                <img src="{{ url_for('static', filename='image/icon_user.png') }}" alt="User" class="w-8 h-8 rounded-full object-cover border-2 border-white flex-shrink-0">
                <div class="text-sm font-medium whitespace-nowrap relative top-[4px]" style="font-family: 'Ponnala', sans-serif;">Đăng nhập</div>
            </div>
        </nav>
    </div>
</header>