<div>
    <label class="block text-sm font-bold text-gray-700 mb-2">Username</label>
    <input type="text" name="username" required
           class="w-full px-4 py-2 bg-gray-50 border rounded-full focus:ring-2 focus:ring-blue-500 outline-none">
</div>

<div>
    <label class="block text-sm font-bold text-gray-700 mb-2">Full name</label>
    <input type="text" name="full_name" required
           class="w-full px-4 py-2 bg-gray-50 border rounded-full focus:ring-2 focus:ring-blue-500 outline-none">
</div>

<div>
    <label class="block text-sm font-bold text-gray-700 mb-2">Email</label>
    <input type="email" name="email" required
           class="w-full px-4 py-2 bg-gray-50 border rounded-full focus:ring-2 focus:ring-blue-500 outline-none">
</div>

<div>
    <label class="block text-sm font-bold text-gray-700 mb-2">Nhập OTP</label>
    <div class="relative">
        <input type="text" name="otp" required
               class="w-full pl-4 pr-24 py-2 bg-gray-50 border border-gray-200 rounded-full focus:bg-white focus:ring-2 focus:ring-blue-500 outline-none transition">

        <button type="button" id="otp-btn"
                class="absolute right-1 top-1 bottom-1 px-4 bg-blue-50 text-blue-600 font-semibold text-xs rounded-full border border-blue-200 hover:bg-blue-100 hover:border-blue-300 transition-colors">
            Gửi OTP
        </button>
    </div>
</div>

<div class="relative">
    <label class="block text-sm font-bold text-gray-700 mb-2">Mật khẩu</label>
    <input type="password" name="password" required
           class="w-full px-4 py-2 bg-gray-50 border rounded-full focus:ring-2 focus:ring-blue-500 outline-none">
    <i class="fa-regular fa-eye absolute top-[60%] right-[18px] cursor-pointer"></i>
</div>

<div class="relative">
    <label class="block text-sm font-bold text-gray-700 mb-2">Xác nhận mật khẩu</label>
    <input type="password" name="re-password"
           class="w-full px-4 py-2 bg-gray-50 border rounded-full focus:ring-2 focus:ring-blue-500 outline-none">
    <i class="fa-regular fa-eye absolute top-[60%] right-[18px] cursor-pointer"></i>
</div>

<button type="submit" id="regis-btn"
        class="w-full py-3 bg-blue-600 text-white font-bold rounded-full shadow-lg hover:bg-blue-700 transition">
    Đăng ký
</button>
<div id="google-login">
    <div class="relative my-4">
        <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-100"></div>
        </div>
        <div class="relative flex justify-center text-xs uppercase"><span
                class="bg-white px-2 text-gray-400 tracking-wider">Hoặc ký với</span></div>
    </div>

    <button class="w-full py-2 px-4 border border-gray-200 rounded-full flex items-center justify-center space-x-3 hover:bg-gray-50 transition">
        <img src="https://www.gstatic.com/images/branding/product/1x/gsa_512dp.png" class="w-5 h-5"
             alt="Google">
        <span class="font-semibold text-gray-700">Google</span>
    </button>
</div>