{% extends 'layout/base.html' %}

{% block content %}
<div class="text-white p-4 md:p-8">

    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col md:flex-row gap-8 mb-12" id="film_description">

        </div>

        <div class="text-center mb-8">
            <h2 class="text-2xl font-bold uppercase tracking-widest mb-6">Lịch chiếu</h2>
            <div class="flex justify-center gap-4" id="date_film">

            </div>
        </div>

        <div class="space-y-4">
            <h2 class="text-xl font-bold uppercase border-l-4 border-neon pl-3 mb-4">Danh sách rạp</h2>
                <div id="list-cinemas">

                </div>



        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='javascript/pages/film-detail.js') }}"></script>
{% endblock %}