{% extends 'layout/base.html' %}
{% block content %}
<div class="container mx-auto px-36 pt-28">
    <img
        class="w-[400px] absolute left-[42px] top-[16px] z-[-100] opacity-70"
        src="https://res.cloudinary.com/ds11ggie4/image/upload/v1773938754/image_23_gzy2kg.png"
        alt="" />

<!--<img-->
<!--    class="w-[400px] absolute right-[-100px] top-[40%] z-[-100] opacity-50 rotate-12"-->
<!--    src="https://res.cloudinary.com/ds11ggie4/image/upload/v1773993653/899654836_intbtm.png"-->
<!--    alt="Background Decor 2" />-->

<!--<img-->
<!--    class="w-[350px] absolute left-[10%] bottom-[-50px] z-[-100] opacity-40 -rotate-12"-->
<!--    src="https://res.cloudinary.com/ds11ggie4/image/upload/v1773993653/899654836_intbtm.png"-->
<!--    alt="Background Decor 3" />-->

<!--    <img-->
<!--    class="w-[400px] absolute right-[40%] top-[160%] z-[-100] opacity-50 rotate-12"-->
<!--    src="https://res.cloudinary.com/ds11ggie4/image/upload/v1773993653/899654836_intbtm.png"-->
<!--    alt="Background Decor 2" />-->

<!--<img-->
<!--    class="w-[350px] absolute left-[2%] top-[165%] z-[-100] opacity-40 -rotate-12"-->
<!--    src="https://res.cloudinary.com/ds11ggie4/image/upload/v1773993653/899654836_intbtm.png"-->
<!--    alt="Background Decor 3" />-->
    <div class="mb-4">
        <h1 class="text-2xl font-bold text-gray-800">Khám phá</h1>
    </div>
    <div class="relative group"> <p class="text-lg text-gray-500 mt-4 pb-2">Phim mới</p>
        <button onclick="scrollSlider('slider-1', -300)"
                class="absolute left-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg">
            <i class="fa-solid fa-chevron-left text-gray-700"></i>
        </button>

        <div id="slider-1" class="flex overflow-x-auto gap-2 pb-8 " style="scrollbar-width: none; -ms-overflow-style: none;">

        </div>

        <button onclick="scrollSlider('slider-1', 300)"
                class="absolute right-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg ">
            <i class="fa-solid fa-chevron-right text-gray-700"></i>
        </button>
    </div>

      <div class="relative group"> <p class="text-lg text-gray-500 mt-4 pb-2">Đang khởi chiếu</p>
        <button onclick="scrollSlider('slider-1', -300)"
                class="absolute left-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg">
            <i class="fa-solid fa-chevron-left text-gray-700"></i>
        </button>

        <div id="slider-2" class="flex overflow-x-auto gap-2 pb-8 " style="scrollbar-width: none; -ms-overflow-style: none;">

        </div>

        <button onclick="scrollSlider('slider-2', 300)"
                class="absolute right-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg ">
            <i class="fa-solid fa-chevron-right text-gray-700"></i>
        </button>
    </div>
</div>
{% endblock %}
<!--{% block script %}-->
<!--  <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>-->
<!--  <script src="{{ url_for('static', filename='javascript/film.js') }}"></script>-->
<!--{% endblock %}-->