{% extends 'layout/base.html' %}
{% import 'components/CardNewFilm.html' as ui %}
{% block content %}

<div class="fixed inset-0 z-0 overflow-hidden pointer-events-none opacity-40">
    <img src="/static/image/decoraterbg1.png" alt=""
         class="left-20 -top-3 absolute w-90 h-auto rotate-[30deg]">

</div>

<div class="container mx-auto px-36 pt-28">

    <div class="mb-4">
        <h1 class="text-2xl font-bold text-gray-800">Khám phá</h1>
    </div>
    <div class="relative group"><p class="text-lg text-gray-500 mt-4 pb-2">Phim mới</p>
        <button onclick="scrollSlider('slider-1', -300)"
                class="absolute left-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg">
            <i class="fa-solid fa-chevron-left text-gray-700"></i>
        </button>

        <div id="slider-1" class="flex overflow-x-auto gap-2 pb-8 "
             style="scrollbar-width: none; -ms-overflow-style: none;">

        </div>

        <button onclick="scrollSlider('slider-1', 300)"
                class="absolute right-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg ">
            <i class="fa-solid fa-chevron-right text-gray-700"></i>
        </button>
    </div>

    <div class="relative group"><p class="text-lg text-gray-500 mt-4 pb-2">Đang khởi chiếu</p>
        <button onclick="scrollSlider('slider-1', -300)"
                class="absolute left-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg">
            <i class="fa-solid fa-chevron-left text-gray-700"></i>
        </button>

        <div id="slider-2" class="flex overflow-x-auto gap-2 pb-8 "
             style="scrollbar-width: none; -ms-overflow-style: none;">

        </div>

        <button onclick="scrollSlider('slider-2', 300)"
                class="absolute right-[-50px] top-1/2 -translate-y-1/2 z-1 p-3 rounded-full shadow-lg ">
            <i class="fa-solid fa-chevron-right text-gray-700"></i>
        </button>
    </div>
</div>
{% endblock %}
{% block script %}
<!--  <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>-->
<!--  <script src="{{ url_for('static', filename='javascript/film.js') }}"></script>-->
{% endblock %}